<ion-header>
  <ion-toolbar class="barra" color="tertiary">
    <ion-title>Cores</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="lista">
    <ion-item *ngFor="let cor of cores" [routerLink]="['/cores/cadastro', cor.id]" detail="false">
      {{cor.nome}}
      <ion-icon name="chevron-forward-outline" slot="end" color="tertiary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button [routerLink]="['/cores/cadastro']" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
