<ion-header>
  <ion-toolbar class="barra" color="tertiary">
    <ion-title>Marcas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="lista">
    <ion-item *ngFor="let marca of marcas" [routerLink]="['/marcas/cadastro', marca.id]">
      {{marca.nome}}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button [routerLink]="['/marcas/cadastro']" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
