::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.barra{
    text-align: center;
}
.lista{
    margin-right: 4%;
}
.linhas{
    margin-top: 1%;
}
.imagem{
    width: 30%;
    height: 50%;
}
.nome{
    font-size: 125%;
    white-space: normal;
    font-weight: bold;
}
.detalhes{
    font-size: 90%;
    font-weight: bold;
}
.preco{    
    font-size: 115%;
    font-weight: bold;
    color: red;
}
