<ion-header>
  <ion-toolbar class="barra" color="tertiary">
    <ion-title>Roupas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="lista">
    <ion-item-sliding *ngFor="let roupa of roupas">
      <ion-item class="linhas">
        <ion-thumbnail class="imagem" slot="start">
          <ion-img [src]="roupa.imagem"></ion-img>
        </ion-thumbnail>
        <li>
          <ion-text class=nome>{{roupa.nome}}</ion-text><br>
          <ion-text class="detalhes">Marca: <ion-text color="medium">{{roupa.marcas.nome}}</ion-text></ion-text><br>
          <ion-text class="detalhes">Genêro: <ion-text color="medium">{{roupa.generos.nome}}</ion-text></ion-text><br>
          <ion-text class="detalhes">Tamanhos: <ion-text color="medium" *ngFor="let tamanho of roupa.tamanhos">| {{tamanho.nome}} </ion-text><ion-text color="medium">|</ion-text></ion-text><br>         
          <ion-text class="detalhes">Cores: <ion-text color="medium" *ngFor="let cor of roupa.cores">| {{cor.nome}} </ion-text><ion-text color="medium">|</ion-text></ion-text><br>
          <ion-text class="detalhes">Estoque: <ion-text color="medium">{{roupa.estoque}}</ion-text></ion-text><br>
          <ion-text class="preco">{{roupa.preco | currency:'BRL'}}</ion-text>          
        </li>            
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/roupas', 'editar', roupa.id]">
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmacaoExclusao(roupa)">
          <ion-icon name="trash-bin-sharp" slot="icon-only" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/roupas', 'cadastro']" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>