.barra{
    text-align: center;
}

.card-roupa{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
.card1{
    width: 40%;
    display: inline-block;
    margin: 5%;
}
.card2{
    width: 40%;
    display: inline-block;
    margin: 5%;
}

.icon-roupa{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
}
.label-roupa{
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.icon-marca{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
}
.label-marca{
    margin-top: auto;
    text-align: center;
    width: 100%;
}


.icon-tamanho{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
}
.label-tamanho{
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.card-genero{
    width: 44%;
    margin-right: auto;
    margin-top: 5%;
}
.icon-genero{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
}
.label-genero{
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.card-cor{
    width: 44%;
    margin-left: auto;
    margin-top: -35.2%;
}
.icon-cor{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
}
.label-cor{
    margin-top: auto;
    text-align: center;
    width: 100%;
}